@media (max-width: 800px) {
    .about-top, .skills-box {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .entry {
        flex-direction: column;
    }

    .company-project-name {
        margin-bottom: 1rem;
    }
}