@media (max-width: 600px) {
    .nav-link {
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    .skills-box {
        flex-direction: column;
    }
}

@media (max-width: 950px) {
    .about-top {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .entry {
        flex-direction: column;
    }

    .company-project-name {
        margin-bottom: 1rem;
    }
}
