:root {
    --pale-blue: rgb(220, 237, 243);
    --dark-blue: rgb(17, 0, 254);
    --dark-orange: #EF8354;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    background-color: var(--pale-blue);
    margin: 0px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--dark-blue);
    animation: typing 1s forwards;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem;
    color: var(--dark-blue);
}

.line-break {
    width: 100%;
    border-top: 2px solid black;
    margin-top: 2rem
}

/* navigation bar */
.nav-bar {
    list-style: none;
    text-align: center;
    background-color: black;
    position: sticky;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 0;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav-link {
    font-size: 1.5rem;
    color: var(--pale-blue);
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.nav-link:hover {
    text-decoration: underline;
}

/* about */
.about-me {
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
    margin-top: 2rem;
}

.about-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    display:block;
    height: 350px;
    border-radius: 50%;
}

.about-para {
    font-size: 1.3rem;
    text-align: center;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/* skills */
.skills-section {
    display: flex;
    justify-content: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skill-logo {
    display:block;
    height: 5rem;
    width: 5rem;
}

.skill-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    font-weight: bold;
    margin: 10px 20px;
}

/* experience and projects */
.experience-section, .projects-section {
    display: flex;
    justify-content: center;
}

.experience-container, .projects-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.entries {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.entry-name {
    flex: 1;
    font-size: 2.5rem;
}

.company-project-name {
    margin: 0;
}

.entry-info {
    flex: 3;
    font-size: 1.3rem;
}

.entry-icon {
    color: var(--dark-blue);
}

.title {
    margin:0
}

.show-more-button {
    text-decoration: none;
    display: block;
    background-color: var(--dark-orange);
    font-size: 1.3rem;
    padding: 5px 10px;
    border: 1px solid #d8a47f;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #e57a44;
}

.show-more-text {
    display: none;
    transition: .25s ease;
}
