:root {
    --light-blue: rgb(0, 234, 255);
}

body {
    background-color: white;
    margin: 0px;
}

.nav-bar {
    list-style: none;
    text-align: center;
    background-color: black;
    padding: 0.5rem 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav-link {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.nav-link:hover {
    text-decoration: underline;
}
